.card-column {
    padding: 30px;
}

.full-height {
    height: 100vh;
}

.parent-div {
    min-height: 75vh;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
    color: green;
    /*text-justify: distribute-all-lines;*/
}

#contact-container {
    background-color: aquamarine;
}

/*Bootstrap Overrides*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 2vh;
}